rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /name-lookups/{document=**} {
    	allow read, write: if false;
    }

    match /entrydata/{token} {
    	allow read: if request.auth != null;
      
    	function valid_keys() {
      	return ['spitznamen', 'wohnort', 'plan', 'motto', 'lieblingsfach', 'ohne-das', 'songtipp', 'lieblingsgetraenke', 'gewinnen', 'zu-oft', 'langweiliges-buch', 'abwesenheitsgrund', 'gelernt', 'vermissen', 'tipplehrer', 'ratschlag-schueler', 'vorname', 'geburtsdatum'];
      }
    	
    	function validate_data(data) {
      	return data.keys().hasAll(valid_keys()) && data.keys().hasOnly(valid_keys());
      }
      
      function validate_token(token, data) {
      	return exists(/databases/$(database)/documents/name-lookups/$(token))
        	&& get(/databases/$(database)/documents/name-lookups/$(token)).data.name == data.vorname;
      }
    	
      allow write: if request.auth != null
        && validate_token(token, request.resource.data)
        && validate_data(request.resource.data);
    }
  }
}
